<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>
      Generar código QR
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar" showCancelButton="true" (ionInput)="setFilter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>
  <ion-list no-lines>
    <button ion-item *ngFor="let contact of contactsFilter" (click)="openQrCodePage(contact)">
      <ion-icon item-start name="contact" color="accent"></ion-icon>
      <ion-label showWhen="android">{{ contact.displayName }}</ion-label>
      <ion-label showWhen="ios">{{ contact.name.formatted }}</ion-label>
    </button>
  </ion-list>
</ion-content>