<ion-header>
  <ion-navbar>
    <ion-title>{{ contactName }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar padding-horizontal>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="information-circle" item-start color="dark"></ion-icon>
      </button>
    </ion-buttons>
    Escanea ó comparte el siguiente código QR
  </ion-toolbar>

  <ion-grid>
    <ion-row justify-content-center>
      <ngx-qrcode qrc-element-type="canvas" [qrc-value]="codeQR" *ngIf="codeQR"></ngx-qrcode>
    </ion-row>
  </ion-grid>

  <div padding-horizontal>
    <button ion-button block (click)="getImage()">Ver imagen</button>
  </div>

  <ion-fab bottom right>
    <button color="accent" ion-fab (click)="share()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-fab>
</ion-content>