<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
            {{ data.name }} {{ data.surname }}
        </ion-item>  
        <ion-item>
          <ion-icon name="mail" item-start></ion-icon>
            {{ data.email }}
        </ion-item>
        <ion-item>
          <ion-icon name="call" item-start></ion-icon>
            {{ data.cellphone }}
        </ion-item><ion-item>
          <ion-icon name="pin" item-start></ion-icon>
            {{ data.address }}
        </ion-item>
        <ion-item>
          <ion-icon name="globe" item-start></ion-icon>
            {{ data.url }}
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ngx-qrcode qrc-element-type="canvas" [qrc-value]="qrData"></ngx-qrcode>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
