// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Navbar logo
.logo {
    height: 40px;
}

// Popover width 
.custom-popover .popover-content {
    width: 60%;
}

// Show - hide keyboard in tabs
body.keyboard-is-open {
    div.tabbar.show-tabbar {
        display: none;
    }
}

body.keyboard-is-open .scroll-content {
    margin-bottom: 0 !important;
}

// Toast position fixed
.md {
    .toast-tabs {
      height: calc(100% - #{$tabs-md-tab-min-height});
    }
}  

// Slides
div.swiper-pagination {
    top: 20px;
    bottom: inherit;
}

.icon-class {
    font-size: 6em;
}

// Label in ion-fab
button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.fab{
    contain: layout;
}

// Social icons
.social-icons {
    font-size: 1.6em;
    display: flex;
    justify-content: space-around;
}
