<ion-header no-border>
  <ion-toolbar padding-horizontal>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="information-circle" item-start color="dark"></ion-icon>
      </button>
    </ion-buttons>
    Importar contacto desde código QR
  </ion-toolbar>
</ion-header>

<ion-content padding-top padding-right>
  <ion-fab bottom right>
    <button color="accent" ion-fab (click)="getContactFromQR()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
</ion-content>