<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Info. de la aplicación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list padding-right>
    <button ion-item>
      <h2>Versión de {{ appName }}</h2>
      <p>Versión: {{ versionNumber }}</p>
    </button>
    <button ion-item text-wrap (click)="openLicense()">
      <h2>Licencia</h2>
      <p>{{ appName }} está desarrollado bajo la licencia de Apache 2.0</p>
    </button>
    <ion-item>
      <div class="social-icons">
        <ion-icon *ngFor="let url of urls" [name]="url.icon" [color]="url.color" (click)="openUrl(url.url)"></ion-icon>
      </div>
    </ion-item>
    <button ion-item text-wrap>
      <h2>Repositorios de código abierto</h2>
      <ul *ngFor="let repository of repositories">
        <li>{{ repository.url }}</li>
      </ul>
    </button>
    <button ion-item text-wrap>
      <h2>Notas</h2>
      <p>{{ appName }} ha sido probada con las siguientes páginas web:</p>
      <ul *ngFor="let qr of qrGenerators">
        <li>{{ qr.url }}</li>
      </ul>
    </button>
    <button ion-item text-wrap>
      Se recomienda usar estos sitios para evitar problemas de compatibilidad
    </button>
  </ion-list>
</ion-content>