<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Guardar código QR en el dispositivo.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top padding-right>
  <ion-slides pager>
    <ion-slide>
      <ion-icon class="icon-class" name="contact" *ngIf="!isOpenKeyboard"></ion-icon>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido</ion-label>
        <ion-input [(ngModel)]="surname" type="text"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-icon class="icon-class" name="briefcase" *ngIf="!isOpenKeyboard"></ion-icon>
      <ion-item>
        <ion-label>Organización</ion-label>
        <ion-input [(ngModel)]="org" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono</ion-label>
        <ion-input [(ngModel)]="phone" type="number"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-icon class="icon-class" name="call" *ngIf="!isOpenKeyboard"></ion-icon>
      <ion-item>  
        <ion-label>Celular</ion-label>
        <ion-input [(ngModel)]="cellphone" type="number"></ion-input>
      </ion-item>
      <ion-item no-lines>  
        <ion-label>
          <small>
            Se generará como campo personal*
          </small>
        </ion-label>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-icon class="icon-class" name="mail" *ngIf="!isOpenKeyboard"></ion-icon>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input [(ngModel)]="address" type="text"></ion-input>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <ion-icon class="icon-class" name="globe" *ngIf="!isOpenKeyboard"></ion-icon>
      <ion-item>
        <ion-label>Sitio Web</ion-label>
        <ion-input [(ngModel)]="url" type="text"></ion-input>
      </ion-item>
      <div padding-top padding-left>
        <button ion-button block clear (click)="saveData()">Guardar</button>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-fab right middle>
    <button (click)="getImage()" color="accent" ion-fab mini>
      <ion-icon name="images"></ion-icon>
    </button>
  </ion-fab>  
</ion-content>